*{
    margin: 0;
    padding: 0;
}
.cabecalho {
background-color: hwb(266 37% 11%);
color: white;
display: flex;
justify-content: space-around;
align-items: center;
margin: 24px 0;

}

.cabecalho-imagem {
width: 25%;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}
.escola-imagem {
    width: 25%;
}
.escola {
    background-image: linear-gradient(hwb(305 0% 0%), hwb(0 100% 0%));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo {
    width: 45%;
}
.escola-titulo {
    padding: 24px 0;
}